/* Style the entire page with a dark background */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: url('https://wallpapercat.com/w/full/d/f/0/37823-2560x1600-desktop-hd-the-dark-knight-background-photo.jpg') no-repeat center center fixed; /* Set the image as background */
    background-size: cover; /* Make the background cover the full page */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Styling for the title */
h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

/* Style form labels */
.form-group label {
    color: #ffffff;
    font-size: 14px;
}

/* Style the input fields */
.form-control {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form-control::placeholder {
    color: #8c8c8c;
}

/* Style the login button */
.btn-primary {
    background-color: #f40612;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #f40612;
}

/* Error message styling */
#error-message {
    color: #e87c03;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
